.odcontent {
  background-image: url("../images/projectpage/Background.png");
  padding: 20px;
  min-height: 100vh;
}
.odbody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.odbody p {
  font-size: 30px;
  color: #ffffff;
  text-align: center;
}
.odmaintop,
.odmainbottom {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  gap: 20px;
  border-radius: 40px;
  justify-content: center;
}

.odmaintop::-webkit-scrollbar {
  display: none;
}
.odmainbottom {
  flex-direction: column;
}
.odheader,
.odcontentbody,
.odcontentbodybottom {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 10px;
}
.odheader {
  justify-content: center;
}
.odheader h5 {
  font-size: 16px;
  text-align: center;
  margin-block-start: 0px;
  margin-block-end: 0px;
}
.odmainbottom h5 {
  font-size: 24px;
  text-align: center;
  margin-block-start: 20px;
  margin-block-end: 20px;
}
.odheader {
  color: #ffffff;
  border-radius: 40px;
  font-size: 30px;
}
.odcontentbody {
  border-radius: 40px;
  background-color: rgba(38, 111, 114, 0.7);
  color: #ffffff;
}
.odcontentbodybottom {
  background-color: #ffffff;
  justify-content: space-between;
  gap: 30px;
}
.bottomcontent {
  width: 45%;
  display: flex;
  justify-content: center;
  background-color: #76cdd1;
  padding: 20px;
  border-radius: 40px;
}
.bottomcontent p {
  font-size: 18px;
  text-align: center;
}
.bottomcontent:nth-child(2) {
  background-color: #106c72;
  color: #ffffff;
}

@media screen and (max-width: 1000px) {
  .odcontent h1 {
    text-align: center;
  }

  .odmaintop {
    flex-direction: column;
  }
  .odmaintop .odheader h5 {
    font-size: 24px;
    margin-block-start: 10px;
    margin-block-end: 10px;
  }
  .odcontentbody {
    justify-content: center;
  }
  .odcontentbodybottom {
    flex-direction: column;
    gap: 0px;
  }
  .bottomcontent {
    width: 90%;
  }
}
